---
import GitHub from "./icons/GitHub.astro";
import CSS from "./icons/CSS.astro";
import Html5 from "./icons/Html5.astro";
import Javascript from "./icons/Javascript.astro";
import Python from "./icons/Python.astro";
import SQLite from "./icons/SQLite.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";

const TAGS = {
  HTML5: {
    name: "HTML",
    class: "bg-[#003159] text-white",
    icon: Html5,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#003159] text-white",
    icon: CSS,
  },
  Javascript: {
    name: "Javascript",
    class: "bg-[#003159] text-white",
    icon: Javascript,
  },
  Python: {
    name: "Python",
    class: "bg-[#003159] text-white",
    icon: Python,
  },
  SQLite: {
    name: "SQLite",
    class: "bg-[#003159] text-white",
    icon: SQLite,
  },
};

const PROJECTS = [
  {
    title: "Weather app - Aplicacion Web del clima",
    description:
      "Aplicación web sencilla y responsiva para consultar el clima de cualquier ciudad del mundo. Consume una API pública para obtener los datos meteorológicos en tiempo real. Desarrollada con HTML, CSS y Javascript utilizando la API gratuita OpenWeatherMap.",
    link: "https://weather-app-six-beryl-98.vercel.app/",
    github: "https://github.com/Sam-Dev0/Weather-APP",
    image: "/projects/weatherapp.webp",
    tags: [TAGS.HTML5, TAGS.CSS, TAGS.Javascript],
  },
  {
    title: "App de gestion y mantenimiento de computadores",
    description:
      "App de escritorio hecha con Python para el mantenimiento de computadores, con una base de datos hecha con SQLite para almacenar los datos haciendo una busqueda por el serial y/o su id determinado",
    github: "https://github.com/Sam-Dev0/Hoja-De-vida-computadores",
    image: "/projects/pep.webp",
    tags: [TAGS.Python, TAGS.SQLite],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center transition duration-500 ease-in-out transform shadow-xl overflow-hidden rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt={title}
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              decoding="async"
              src={image}
              onerror="this.src='/projects/placeholder.webp'"
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>

          <ul class="flex flex-row mt-3 mb-3 gap-x-2 gap-y-2 flex-wrap">
            {tags.map((tag) => (
              <li>
                <span
                  class={`flex items-center gap-2 rounded-full text-xs ${tag.class} py-1 px-3`}
                >
                  {tag.icon && <tag.icon class="w-4 h-4" />}
                  <span>{tag.name}</span>
                </span>
              </li>
            ))}
          </ul>

          <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>

          <footer class="flex items-end justify-start mt-4 gap-x-4">
            {github && (
              <LinkButton href={github}>
                <GitHub class="size-6" />
                Code
              </LinkButton>
            )}
            {link && (
              <LinkButton href={link}>
                <Link class="size-4" />
                Preview
              </LinkButton>
            )}
          </footer>
        </div>
      </article>
    ))
  }
</div>
